.root {
  background-color: #f1f5f9;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 20px;
  height: auto;
  min-height: 100vh;
  overflow: auto;
}
.dashboard-container {
  height: auto;
  min-height: 100vh;
  background-color: #fff; /* #e5eef7 */
  border-radius: 44px;
  overflow: visible;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
}

.app-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Responsive adjustments */
@media screen and (max-width: 480px) {
  .sidebar {
    width: 100%;
    padding: 15px;
  }
  .main-content {
    padding: 15px;
  }
}

@media screen and (min-width: 768px) {
  .dashboard-container {
    border-radius: 24px;
  }

  .container {
    padding: 15px;
  }

  .main-content {
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 10px;
    height: auto;
    overflow-y: auto;
  }
  .app-container {
    flex-direction: row;
  }

  .sidebar {
    width: 250px;
    flex-shrink: 0;
  }

  .dashboard-container {
    border-radius: 40px;
  }

  .main-content {
    padding: 24px;
  }
}
